*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.side-border {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 35px; 
  background-color: #000000;
  z-index: 999; 
}

.left-border {
  left: 0;
}

.right-border {
  right: 0;
}

.nav-link:hover {
  color: #000000 !important;    
  text-decoration: underline;  
  font-weight: bolder;
}

 .signup-section {
      min-height: 120vh;
      display: flex;
    }

    .image-section {
      background: url('../images/signup\ image.jpg') no-repeat center center/cover;
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .overlay-text {
      text-align: center;
      position: relative;
      z-index: 2;
    }

    .overlay-text h1 {
      font-size: 5rem;
      font-weight: 800;
      line-height: 1.2;
    }

    .overlay-text span.skyblue {
      color: #36c0f7;
    }
    .overlay-text span.blue {
      color: #1f5aa7;
    }

    .overlay-text span.purple {
      color: #b71ab8;
    }

    .form-section {
      background-color: rgb(142, 138, 138);
      color: #fff;
      flex: 0.8;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
    }

    .signup-form {
      width: 100%;
      max-width: 500px;
    }

    .signup-form h3 {
      font-weight: 700;
      margin-bottom: 30px;
    }

    .signup-form p {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 50px;
    }

    .form-control {
        font-size: 18px;    
      height: 60px;
    }

    .form-control::placeholder {
      color: #000000;

    }

    .btn-signup {
      background-color: #fff;
      color: #000;
      font-weight: 600;
      font-size: large;
      width: 100%;
      height: 70px;
      padding: 20px;
      border: none;
    }

    a.login-link {
      color: #1732c9;
      font-weight: 600;
      font-size: 20px;
    }

    a.login-link:hover {
      text-decoration: underline;
    }